.conf-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.conf-cont.left {
  left: -50%;
}

.conf-cont.right {
  left: 50%;
}

.confetti {
  position: absolute;
  width: 0.8rem;
  height: 1rem;
  border-radius: 0.8rem;
  background-color: #f00;
  opacity: 0;
  -webkit-animation-name: fallsway;
          animation-name: fallsway;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.confetti:nth-child(1) {
  z-index: 1;
  -webkit-animation-name: fallsway1;
          animation-name: fallsway1;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background-color: #ffccff;
}
.confetti:nth-child(2) {
  z-index: 2;
  -webkit-animation-name: fallsway2;
          animation-name: fallsway2;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  background-color: #ff99ff;
}
.confetti:nth-child(3) {
  z-index: 3;
  -webkit-animation-name: fallsway3;
          animation-name: fallsway3;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  background-color: #ffccff;
}
.confetti:nth-child(4) {
  z-index: 4;
  -webkit-animation-name: fallsway4;
          animation-name: fallsway4;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  background-color: #fee6ff;
}
.confetti:nth-child(5) {
  z-index: 5;
  -webkit-animation-name: fallsway5;
          animation-name: fallsway5;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #ffccff;
}
.confetti:nth-child(6) {
  z-index: 6;
  -webkit-animation-name: fallsway6;
          animation-name: fallsway6;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  background-color: #ff99ff;
}
.confetti:nth-child(7) {
  z-index: 7;
  -webkit-animation-name: fallsway7;
          animation-name: fallsway7;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  background-color: #ffccff;
}
.confetti:nth-child(8) {
  z-index: 8;
  -webkit-animation-name: fallsway8;
          animation-name: fallsway8;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  background-color: #ff99ff;
}
.confetti:nth-child(9) {
  z-index: 9;
  -webkit-animation-name: fallsway9;
          animation-name: fallsway9;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  background-color: #ffccff;
}
.confetti:nth-child(10) {
  z-index: 10;
  -webkit-animation-name: fallsway10;
          animation-name: fallsway10;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #fee6ff;
}
.confetti:nth-child(11) {
  z-index: 11;
  -webkit-animation-name: fallsway11;
          animation-name: fallsway11;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  background-color: #ffccff;
}
.confetti:nth-child(12) {
  z-index: 12;
  -webkit-animation-name: fallsway12;
          animation-name: fallsway12;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  background-color: #fee6ff;
}
.confetti:nth-child(13) {
  z-index: 13;
  -webkit-animation-name: fallsway13;
          animation-name: fallsway13;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  background-color: #ffccff;
}
.confetti:nth-child(14) {
  z-index: 14;
  -webkit-animation-name: fallsway14;
          animation-name: fallsway14;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  background-color: #ff99ff;
}
.confetti:nth-child(15) {
  z-index: 15;
  -webkit-animation-name: fallsway15;
          animation-name: fallsway15;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: #ffccff;
}
.confetti:nth-child(16) {
  z-index: 16;
  -webkit-animation-name: fallsway16;
          animation-name: fallsway16;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  background-color: #fee6ff;
}
.confetti:nth-child(17) {
  z-index: 17;
  -webkit-animation-name: fallsway17;
          animation-name: fallsway17;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  background-color: #ffccff;
}
.confetti:nth-child(18) {
  z-index: 18;
  -webkit-animation-name: fallsway18;
          animation-name: fallsway18;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  background-color: #fee6ff;
}
.confetti:nth-child(19) {
  z-index: 19;
  -webkit-animation-name: fallsway19;
          animation-name: fallsway19;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  background-color: #ffccff;
}
.confetti:nth-child(20) {
  z-index: 20;
  -webkit-animation-name: fallsway20;
          animation-name: fallsway20;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background-color: #fee6ff;
}

@-webkit-keyframes fallsway1 {
  0% {
    top: -5%;
    left: 4%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 11%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 31%;
    opacity: 1;
    transform: skew(-30deg);
  }
}

@keyframes fallsway1 {
  0% {
    top: -5%;
    left: 4%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 11%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 31%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway2 {
  0% {
    top: -5%;
    left: 8%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 31%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 2%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway2 {
  0% {
    top: -5%;
    left: 8%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 31%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 2%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway3 {
  0% {
    top: -5%;
    left: 72%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 77%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 40%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway3 {
  0% {
    top: -5%;
    left: 72%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 77%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 40%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway4 {
  0% {
    top: -5%;
    left: 75%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 23%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 74%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway4 {
  0% {
    top: -5%;
    left: 75%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 23%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 74%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway5 {
  0% {
    top: -5%;
    left: 56%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 57%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 92%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway5 {
  0% {
    top: -5%;
    left: 56%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 57%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 92%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway6 {
  0% {
    top: -5%;
    left: 17%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 43%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 73%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway6 {
  0% {
    top: -5%;
    left: 17%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 43%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 73%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway7 {
  0% {
    top: -5%;
    left: 82%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 74%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 46%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway7 {
  0% {
    top: -5%;
    left: 82%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 74%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 46%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway8 {
  0% {
    top: -5%;
    left: 51%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 63%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 77%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway8 {
  0% {
    top: -5%;
    left: 51%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 63%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 77%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway9 {
  0% {
    top: -5%;
    left: 50%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 78%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 53%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway9 {
  0% {
    top: -5%;
    left: 50%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 78%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 53%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway10 {
  0% {
    top: -5%;
    left: 51%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 78%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 14%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway10 {
  0% {
    top: -5%;
    left: 51%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 78%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 14%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway11 {
  0% {
    top: -5%;
    left: 70%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 93%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 1%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway11 {
  0% {
    top: -5%;
    left: 70%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 93%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 1%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway12 {
  0% {
    top: -5%;
    left: 75%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 40%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 25%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway12 {
  0% {
    top: -5%;
    left: 75%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 40%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 25%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway13 {
  0% {
    top: -5%;
    left: 4%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 38%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 50%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway13 {
  0% {
    top: -5%;
    left: 4%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 38%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 50%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway14 {
  0% {
    top: -5%;
    left: 27%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 43%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 79%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway14 {
  0% {
    top: -5%;
    left: 27%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 43%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 79%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway15 {
  0% {
    top: -5%;
    left: 24%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 52%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 82%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway15 {
  0% {
    top: -5%;
    left: 24%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 52%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 82%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway16 {
  0% {
    top: -5%;
    left: 2%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 66%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 8%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway16 {
  0% {
    top: -5%;
    left: 2%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 66%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 8%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway17 {
  0% {
    top: -5%;
    left: 86%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 40%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 43%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway17 {
  0% {
    top: -5%;
    left: 86%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 40%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 43%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway18 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 68%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 12%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway18 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 68%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 12%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway19 {
  0% {
    top: -5%;
    left: 67%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 82%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 11%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway19 {
  0% {
    top: -5%;
    left: 67%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 82%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 11%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway20 {
  0% {
    top: -5%;
    left: 77%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 16%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 53%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@keyframes fallsway20 {
  0% {
    top: -5%;
    left: 77%;
    opacity: 1;
    transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  50% {
    left: 16%;
    transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 53%;
    opacity: 1;
    transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway {
  0% {
    top: -10%;
    left: 11%;
    opacity: 1;
  }
  25% {
    left: 95%;
  }
  50% {
    left: 47%;
  }
  75% {
    left: 56%;
  }
  100% {
    top: 110%;
    left: 15%;
    opacity: 1;
  }
}
@keyframes fallsway {
  0% {
    top: -10%;
    left: 11%;
    opacity: 1;
  }
  25% {
    left: 95%;
  }
  50% {
    left: 47%;
  }
  75% {
    left: 56%;
  }
  100% {
    top: 110%;
    left: 15%;
    opacity: 1;
  }
}