@charset “utf-8”;

@font-face {
    font-family: 'font_title';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/pvct.woff) format("woff"),
        url(fonts/pvct.otf) format("otf");
}

@font-face {
    font-family: 'font_title_i';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/pvct_i.woff) format("woff"),
        url(fonts/pvct_i.otf) format("otf");
}

@font-face {
    font-family: 'font_body';
    font-style: normal;
    /* ont-weight: 400; */
    src: url(fonts/si_book.woff2) format("woff2"), 
        url(fonts/si_book.woff) format("woff");
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: underline;
	color: #000;
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: "font_body", "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.25;
/* 	background-image: linear-gradient(180deg, #9db5ff, #ffffff);*/
/* 	background-attachment: fixed;*/
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.d_n {
	display: none;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

.cursor {
  	position: absolute;
  	padding: 0.4rem 1.5rem 0.5rem 0.8rem;
  	border: 1px solid #000;
  	background: #fff;
    z-index: 3000;
}

.bor {
	border: 1px solid #000;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

::selection {
  color: #fff;
  background: #000;
}

.container {
	width: 100%;
/*	height: 100vh;*/
	text-align: center;
}

.layout {
	position: absolute;
	left: 0;
	width: 100%;
	font-size: 0.8rem;
	color: #333;
}

/* ---------- header ----------	*/

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 14vh;
	z-index: 1000;
}

.page #header {
	background: url('images/bg_header.png') no-repeat center top;
	background-size: cover;
}


#header h3 {
	top: 0;
	padding-top: 1.5rem;
}

#header .header_title {
	font-family: "font_title";
	font-size: 12vh;
	padding-top: 2rem;
	line-height: 1;
}

/* ---------- index ----------	*/


#indexBtn {
	display: inline-block;
	margin-top: 16.5vh;
	transition: transform 1s;
}

#indexBtn:hover, #indexBtn:focus {
	transform: rotate3D(6, 10, 4, 30deg);
}


/* ---------- contents ----------	*/


#containerContents {
	background: #000;
	color: #fff;
}

#containerContents h2 {
	position: absolute;
	width: 100%;
	left: 0;
	top: 39.5vh;
	font-family: "font_title";
	font-size: 15vh;
	mix-blend-mode: difference;
	opacity: 0;
	animation: ani_op 3s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
	animation-delay: 0.5s;
}

@keyframes ani_op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container_img {
	position: relative;
	width: 100%;
	height: 100vh;
}

.container_img > div {
	position: absolute;
	transition: transform 1s;
}

.container_img > div.img2 {
	top: 44vh;
	left: 7.5vw;
	animation-delay: 4.2s;
}

.container_img > div.img3 {
	top: 19vh;
	left: 22.5vw;
	animation-delay: 5s;
}

.container_img > div.img4 {
	top: 17.5vh;
	left: 52.5vw;
	animation-delay: 4.4s;
}

.container_img > div.img5 {
	top: 41.5vh;
	left: 72vw;
	animation-delay: 4.7s;
}

.container_img > div.img6 {
	top: 63vh;
	left: 56vw;
	animation-delay: 5s;
}

.container_img > div.img7 {
	top: 60.5vh;
	left: 22vw;
	animation-delay: 4s;
}

.container_img > div.img8 {
	top: 41vh;
	left: 43.5vw;
	animation-delay: 4.3s;
}

.container_img > div.img9 {
	top: 26.5vh;
	left: 55vw;
	animation-delay: 4.6s;
}


.fade {
/*	opacity: 0;*/
	margin-top: -100vh;

	animation: ani_fade_in 3s cubic-bezier(0, 1.37, 0.56, 1.18) forwards;
/*	animation: ani_fade_in 3s cubic-bezier(0, 0.9, 0.32, 1.28) forwards;*/
/*	animation: ani_fade_in 3s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;*/
}

.fade > a {
	display: block;
	transition: transform 1s;
}


.fade > a:hover, .fade > a:focus {
	transform: rotate3D(6, 10, 4, 30deg);
}

@keyframes ani_fade_in {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0;
  }
}


/* ---------- page:Anne ----------	*/

#pageHeader {
	width: 100%;
	height: 100vh;
}

#pageImg {
	position: absolute;
	left: 34vw;
	top: 28vh;
	opacity: 0;
	animation: ani_op 2s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

#pageImg > img {
	width: 32vw;
	height: auto;
}

#pageTit {
	font-family: 'font_title';
	font-size: 15vh;
	padding-top: 40vh;
	opacity: 0;
	animation: ani_op 3s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
	animation-delay: 1s;
}

#pageP {
	width: 25.5rem;
	margin: 0px auto;
	font-size: 1.05rem;
	line-height: 1.45;
	padding-top: 31vh;
	padding-bottom: 20vh;
	text-align: left;
	z-index: 200;
}

.page_img {
	position: absolute;
	opacity: 0;
	animation: ani_op 2s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
	transition: transform 1s;
	display: none;
}

.page_img:hover, .page_img:focus {
	transform: rotate3D(6, 10, 4, 30deg);
}

.page_img.a {
	top: 37vh;
	left: 7vw;
}

.page_img.b {
	top: 70vh;
	right: 5vw;
	animation-delay: 0.5s;

}

#pageNext {
	display: inline-block;
	text-decoration: none;
	color: #aaa;
}

#pageNext:hover {
	color: #000;
}




/* ---------- footer ----------	*/

footer {
	position: fixed;
	left: 0; 
	bottom: 0; 
	width: 100%;
	height: 18vh;
	background: url('images/bg_footer.png') no-repeat center top;
	background-size: cover;
}

#containerMain footer, #containerContents footer {
	background: none;
}

footer h3 {
	bottom: 0;
	padding-bottom: 1.5rem;
}

#soundBtn {
	position: absolute;
	bottom: 1.5rem;
	right: 2rem;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 0.8rem;
	color: #aaa;
}

#containerMain #soundBtn, #containerMain #soundBtn, #containerContents #soundBtn, #containerContents #soundBtn {
	color: #333;
}

#soundBtn:hover, #soundBtn:focus {
	color: #000;
}

#containerMain #soundBtn:hover, #containerMain #soundBtn:focus, #containerContents #soundBtn:hover, #containerContents #soundBtn:focus {
	color: #fff;
}



#containerStory {
	position: absolute;
	right: 1rem;
	width: 2rem;
	top: 38vh;
}

.story {
	font-size: 1rem;
}




.flip {
	transition: transform 1s;
}

.flip:hover {
	transform: rotateY(180deg);
}

.back {
	background: black;
}


.circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #336699;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
/*      animation-name: floatAnimation;*/
/*      animation-duration: 3s;*/
/*      animation-iteration-count: infinite;*/
/*      animation-timing-function: ease-in-out;*/
    }

.circle:hover {
      transform: translate(-50%, -50%);
      animation-name: floatAnimation;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    
@keyframes floatAnimation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -70%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}


.circle2 {
      opacity: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      animation: fade-in 1s ease-in-out forwards;
    }
    



