@charset “utf-8”;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.25;
/* 	background-image: linear-gradient(180deg, #9db5ff, #ffffff);*/
/* 	background-attachment: fixed;*/
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.d_n {
	display: none;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

.cursor {
  	position: absolute;
  	padding: 0.4rem 1.5rem 0.5rem 0.8rem;
  	border: 1px solid #000;
  	background: #fff;
    z-index: 3000;
}

.bor {
	border: 1px solid #000;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* ---------- header ----------	*/


.flip {
	transition: transform 1s;
}

.flip:hover {
	transform: rotateY(180deg);
}

.back {
	background: black;
}


